@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro-BoldItalic.eot');
    src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'), url('fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/GothamPro-BoldItalic.woff') format('woff'), url('fonts/GothamPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro-Italic.eot');
    src: local('Gotham Pro Italic'), local('GothamPro-Italic'), url('fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/GothamPro-Italic.woff') format('woff'), url('fonts/GothamPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro-Medium.eot');
    src: local('Gotham Pro Medium'), local('GothamPro-Medium'), url('fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/GothamPro-Medium.woff') format('woff'), url('fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro-BlackItalic.eot');
    src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'), url('fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'), url('fonts/GothamPro-BlackItalic.woff') format('woff'), url('fonts/GothamPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro-Bold.eot');
    src: local('Gotham Pro Bold'), local('GothamPro-Bold'), url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/GothamPro-Bold.woff') format('woff'), url('fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('fonts/GothamProNarrow-Bold.eot');
    src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'), url('fonts/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/GothamProNarrow-Bold.woff') format('woff'), url('fonts/GothamProNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('fonts/GothamProNarrow-Medium.eot');
    src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'), url('fonts/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/GothamProNarrow-Medium.woff') format('woff'), url('fonts/GothamProNarrow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro-LightItalic.eot');
    src: local('Gotham Pro Light Italic'), local('GothamPro-LightItalic'), url('fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'), url('fonts/GothamPro-LightItalic.woff') format('woff'), url('fonts/GothamPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro-Light.eot');
    src: local('Gotham Pro Light'), local('GothamPro-Light'), url('fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('fonts/GothamPro-Light.woff') format('woff'), url('fonts/GothamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro-Black.eot');
    src: local('Gotham Pro Black'), local('GothamPro-Black'), url('fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'), url('fonts/GothamPro-Black.woff') format('woff'), url('fonts/GothamPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro.eot');
    src: local('Gotham Pro'), local('GothamPro'), url('fonts/GothamPro.eot?#iefix') format('embedded-opentype'), url('fonts/GothamPro.woff') format('woff'), url('fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro-MediumItalic.eot');
    src: local('Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'), url('fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'), url('fonts/GothamPro-MediumItalic.woff') format('woff'), url('fonts/GothamPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}



html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*, *:before *:after {
    box-sizing: border-box;
}

.site {
    display: flex;
    
    max-width: 1920px;
    width: 100%;

    font-family: "Gotham Pro";
    color: #555;
    margin: 0 auto;
}

.site__nav-bar-mobil {
    display: none;
}

.site__main {
    display: flex;
    flex-direction: column;

    background-color: #fed001;
}

    /* nav-bar
========================== */
.nav-bar {
    flex: 0 0 150px;
}

.nav-bar-inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;

    width: 150px;
    height: 100%;

    background-color: #f6f6f6;
}

.nav-bar__button {
    float: left;
    list-style-type: none;
    width: 100%;
    text-align: center;
    font-size: 14px;

    cursor: pointer;

    transition: .7s linear, color .7s linear, border .7s;
}

.nav-bar__text {
    display: block;
    position: relative;

    text-decoration: none;
    color: #464646;
}

.nav-bar__button_hover {
    border-top: 1px #72383800 solid;
    border-bottom: 1px #f6f6f600 solid;
}

.nav-bar__button_hover:hover {
    background: #ffffff;
    border-color: #b1b1b1b2;
}

.nav-bar__text_red {
    color: #eb1f27;
    font-size: 16px;
    font-weight: 600;
}

.nav-bar__button:nth-child(1) {
    padding-top: 123px;
    padding-bottom: 64px;

    background-image: url(images/Ls.png);
    background-position: 30px 25px;
    background-repeat: no-repeat;
}

.nav-bar__button:nth-child(2) {
    padding-top: 76px;
    padding-bottom: 29px;

    background-image: url(images/Ph.png);
    background-position: 52px 21px;
    background-repeat: no-repeat;
}

.nav-bar__button:nth-child(3) {
    padding-top: 83px;
    padding-bottom: 22px;

    background-image: url(images/Se.png);
    background-position: 52px 16px;
    background-repeat: no-repeat;
}

.nav-bar__button:nth-child(4) {
    padding-top: 77px;
    padding-bottom: 28px;

    background-image: url(images/Pp.png);
    background-position: 50px 23px;
    background-repeat: no-repeat;
}
/* ==========================
    nav-bar */



.block-help {
    display: none;
}

.site__main {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    max-width: 100%;
    width: 100%;
}



    /* block-one
========================== */
.main__block-one {
    position: relative;

    -moz-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    -webkit-transition: all .7s ease-out;

    transform: translateX(20%);
    opacity: 0;
}

.block-one {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 42vw;
    font-family: "Gotham Pro";

    background-image: url(images/lays.jpg);
    background-size: cover;
}

.icon-block {
    display: flex;
    flex-direction: row;

    text-align: center;
}

.block-one__icon-block {
    margin-top: 4.8vw;
    margin-left: 4.5vw;
}

.icon__wrap {
    overflow: visible;

    width: 8.1vw;
    height: 8.1vw;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 1.91vw;

    background-color: white;
    background-repeat: no-repeat;
}

.icon__text {
    margin-left: -.1vw;
    padding-top: 1vw;
    font-size: 1.22vw;
    line-height: 1.57vw;
    letter-spacing: -.05vw;
}

.icon__text_3 {
    margin-top: -.2vw;
}

.icon span {
    color: red;
}

.icon__wrap_1  {
    background-image: url(images/photo.png);
    background-position: center;
    background-size: 7vw;
}

.icon__wrap_2 {
    background-image: url(images/heart.png);
    background-position: center;
    background-size: 7vw;
}

.icon__wrap_3  {
    background-image: url(images/box.png);
    background-position: center;
    background-size: 6.8vw;
}

.h1-block {
    font-size: 6.2vw;
    font-family: "Gotham Pro", sans-serif;
    color: #f73934;
    font-weight: 500;
    line-height: 3.84vw;
    letter-spacing: .45vw;
}

.block-one__h1-block {
    margin: 4.68vw auto auto 4.95vw;
}

.h1-block__midle {
    font-size: 59px;
    font-weight: 100;
    margin-top: .5vw;
    letter-spacing: 0;
}

.h1-block__last-C {
    font-weight: 400;
    font-size: 3.55vw;
    margin-top: .94vw;
}

.h1-block__last-Lays {
    font-weight: 900;
    font-size: 87px;
    letter-spacing: 0;
    margin-left: 1.1vw;
}



    /* block-gallery
========================== */
.gallery {
    display: flex;
    width: 100%;

    background-color: white;
}

.main__gallery {
    -moz-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    -webkit-transition: all .7s ease-out;

    transform: translateX(-20%);
    opacity: 0;
}

.gallery-left {
    display: flex;
    flex-direction: column;

    width: 50.5%;
    height: 45.7vw;

    background-image: url(images/gallery_block_left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-left__vk-icon {
    width: auto;
    height: 14.7vw;
    margin-left: 7.47vw;
    margin-top: 2.6vw;

    background-image: url(images/vk_inst_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.gallery-left__h2-title {
    margin-left: 6.2vw;
    margin-top: 0.3vw;
}

.h2-title {
    color: black;
    font-size: 2.8vw;
    font-weight: bold;
    line-height: 3.8vw;
}

.h2-title span {
    display: inline-block;

    line-height: 3.6vw;
    width: 17vw;
    font-weight: 400;
    color: red;
    padding: 0 .6vw .3vw .5vw;
    margin-left: -.5vw;

    background-color: #ffffff;
}

.gallery__btn {
    display: inline-block;
    margin: 2.5vw 0 0 5.6vw;
}

.btn {
    width: 16vw;
    height: 4.5vw;
    padding-left: .7vw;
    padding-top: .4vw;
    text-align: center;
    color: #f6f6f6;
    font-size: 1.5vw;
    letter-spacing: .23vw;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #f6f6f6;

    background-color: rgba(0, 0, 0, 0.1);

    transition: background .5s linear, color .5s linear, border .5s;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery__gallery-right {
    margin: 1.7vw auto 1.6vw 1.58vw;
}

.gallery-right {
    display: flex;
    flex-wrap: wrap;

    width: 47.5%;
}

.gallery-right:hover {
    cursor: pointer;
}

.gallery-right div {
    width: 32.3%;
    height: 32.1%;
    border: #d4d4d4;
    margin: .2vw;
}

.gallery-right__img1 {
    background-image: url(images/gal_1.png);
    background-size: cover;
}

.gallery-right__img2 {
    background-image: url(images/gal_2.png);
    background-size: cover;
}

.gallery-right__img3 {
    background-image: url(images/gal_3.png);
    background-size: cover;
}

.gallery-right__img4 {
    background-image: url(images/gal_4.png);
    background-size: cover;
}

.gallery-right__img5 {
    background-image: url(images/gal_5.png);
    background-size: cover;
}

.gallery-right__img6 {
    background-image: url(images/gal_6.png);
    background-size: cover;
}

.gallery-right__img7 {
    background-image: url(images/gal_7.png);
    background-size: cover;
}

.gallery-right__img8 {
    background-image: url(images/gal_8.png);
    background-size: 111%;
    background-position: -.65vw .1vw;
}

.gallery-right__img9 {
    background-image: url(images/gal_9.png);
    background-size: cover;
}



    /* block-about
========================== */
.about {
    display: flex;
    overflow: hidden;

    width: 100%;
}

.about-text-btn {
    position: relative;

    width: 51%;
    height: 46vw;

    background: url(images/about_block_left.png);
    background-color: tomato;
    background-size: contain;
}

.about__about-text-btn {
    -moz-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    -webkit-transition: all .7s ease-out;

    z-index: 10;
    transform: translateX(-30%);
    opacity: 0;
}

.about__h2-title {
    margin-left: 20.9vw;
    margin-top: 11vw;
    color: white;
    font-size: 3.9vw;
    line-height: 4.16vw;
}

.about-text-btn::after {
    content: '';
    position: absolute;

    left: 99.8%;
    bottom: 57.5%;
    border: 3vw solid transparent;
    border-left: 3vw solid #f01401;

    z-index: 10;
}

.about__text br {
    display: none;
}

.about__text {
    display: block;
    position: relative;

    width: 32vw;
    height: 4vw;
    color: white;
    font-size: 1.3vw;
    margin-left: 5.68vw;
    margin-top: 5.1vw;
    line-height: 1.9vw;
}

.about__text::before {
    content: "";
    position: absolute;
    display: block;

    top: -21.6vw;
    left: -2.6vw;
    width: 15vw;
    height: 19vw;

    background: url(images/about_block_icons.png);
    background-size: 116%;
}

.about__btn {
    margin-left: 5.7vw;
    margin-top: 2.59vw;
}
/* ========================== 
    About-text-btn */

.about__about-img-scale {
    width: 50%;

    -moz-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    -webkit-transition: all .7s ease-out;

    transform: translateX(30%);
    opacity: 0;
}

.about-img-scale{
    display: block;

    width: 100%;
    height: 100%;

    background: url(images/about_img.jpg);
    background-size: cover;
    transform: scale(1.097);
    background-position: -.5vw;

    -moz-transition: all 10s ease-out;
    -o-transition: all 10s ease-out;
    -webkit-transition: all 10s ease-out;
}

.about:hover .about-img-scale {
    -webkit-transform: scale(1.22);
    -moz-transform: scale(1.22);
    -o-transform: scale(1.22);
}



    /* block-summer
========================== */
.summer {
    display: flex;
    overflow: hidden;

    width: 100%;
}

.summer__summer-img-scale {
    width: 51%;

    -moz-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    -webkit-transition: all .7s ease-out;

    transform: translateX(-30%);
    opacity: 0;
}

.summer-img-scale {
    width: 100%;
    height: 100%;
    transform: scale(1.01);

    background: url(images/summer_left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: .15vw -.24vw;

    -moz-transition: all 10s ease-out;
    -o-transition: all 10s ease-out;
    -webkit-transition: all 10s ease-out;
}

.summer:hover .summer-img-scale {
    -webkit-transform: scale(1.17);
    -moz-transform: scale(1.17);
    -o-transform: scale(1.17);
}

.summer-title-btn {
    position: relative;

    width: 50%;
    height: 46vw;
    text-align: center;

    background: url(images/lays_block.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    -moz-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    -webkit-transition: all .7s ease-out;

    transform: translateX(30%);
    opacity: 0;
}

.block_swipe {
    transform: translateX(0);
    opacity: 1;
}

.summer-title-btn::after {
    content: '';
    position: absolute;

    right: 99.8%;
    bottom: 38.5%;
    border: 3vw solid transparent;
    border-right: 3vw solid #fed001;
}

.summer__btn {
    margin-left: 1vw;
    margin-top: 2.9vw;
    text-transform: uppercase;
}

.h2-title_title {
    margin-top: 30.9vw;
    margin-left: 1vw;
    letter-spacing: -.04vw;
    font-size: 4.4vw;
}



.footer {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    height: 6.3vw;
    background-color: #3c3c3c;
}

.footer__icon {
    width: 6.43vw;
    height: 6.3vw;

    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;

    transition: .6s;
}

.footer__copirayte {
    position: relative;

    width: 17.1vw;
    margin: 2.9vw auto 0 7.1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8vw;
    color: rgb(199, 199, 199);
    letter-spacing: .03vw;
}

.footer__copirayte::before {
    display: block;
    content: "";
    position: absolute;

    top: -1.6vw;
    left: -5vw;
    width: 4.2vw;
    height: 4.3vw;

    background-image: url(images/Ls.png);
    background-size: 98%;
    background-repeat: no-repeat;
}

.footer__icon_fb {
    opacity: .85;
    background-image: url(images/fb.jpeg);
    background-size: 47%;
    background-color: #336aa3;
}

.footer__icon_vk {
    opacity: .85;
    background-image: url(images/vk.jpeg);
    background-size: 47%;
    background-color: #3478a7;
}

.footer__icon_ok {
    opacity: .85;
    background-image: url(images/ert.jpeg);
    background-size: 47%;
    background-color: #edbf10;
}

.footer__icon_ytb {
    opacity: .85;
    background-image: url(images/ytb.jpeg);
    background-size: 47%;
    background-color: #c7080f;
}

.footer__icon_fb:hover {
    opacity: 1;
}

.footer__icon_vk:hover {
    opacity: 1;
}

.footer__icon_ok:hover {
    opacity: 1;
}

.footer__icon_ytb:hover {
    opacity: 1;
}
   


    /* @media
========================== */
@media (min-width: 1561px) {

.footer {
    height: 5.5vw;
}

    .footer__icon {
        width: 5.5vw;
        height: 5.3vw;
    } 

    .footer__copirayte {
        margin: 2.25vw auto 0 8.1vw;
    }

    .footer__copirayte::before {
        top: -1.35vw;
        left: -4.5vw;
        width: 4.1vw;
        height: 4.2vw;
    }
}

@media (min-width: 1921px) {

.site {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.block-one {
    height: 806px;
}

.icon__wrap {
    width: 155px;
    height: 155px;
    margin: 0 36px;
}

.block-one__icon-block {
    margin-top: 86px;
    margin-left: 92px;
}

.icon__text {
    padding-top: 20px;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: -0.9px;
}

.icon__wrap_1 {
    background-size: 155px;
}

.icon__wrap_2 {
    background-size: 155px;
}

.icon__wrap_3 {
    background-size: 155px;
}

.h1-block {
    margin-top: 15px;
    margin-left: 1px;
    font-size: 119px;
    font-weight: 500;
    line-height: 76px;
    letter-spacing: 6.5px;
}

.h1-block__midle {
    font-size: 59px;
    font-weight: 100;
    margin-top: 9px;
    letter-spacing: .6px;
}

.h1-block__last-C {
    font-weight: 400;
    font-size: 68px;
    margin-top: -2px;
}

.h1-block__last-Lays {
    font-weight: 900;
    font-size: 87px;
    letter-spacing: .3px;
}

.block-one__h1-block {
    padding-left: 80px;
    padding-top: 69px;
    margin: 0 0;
}



    /* block_gallery
========================== */
.gallery {
    height: 877px;
}

    .gallery-left {
        height: 877px;
        width: 51%;
    }

    .gallery-left__vk-icon {
        width: auto;
        height: 282px;
        margin-left: 144px;
        margin-top: 50px;
    }

    .h2-title {
        font-size: 53px;
        margin-left: 119px;
        margin-top: 6px;
        line-height: 75px;
    }

    .h2-title span {
        width: 341px;
        padding: 5px 1px;
        padding-left: 8px;
        margin-left: -10px;
        letter-spacing: 1.6px;
        font-weight: 400;
        line-height: 71px;
    }

    .btn {
        width: 307px;
        height: 86px;
        padding: 20px 33px;
        margin: 48px 108px 0px;
        font-size: 29px;
        letter-spacing: 2px;
        border: 2px solid #f6f6f6;
    }

    .gallery-right {
        width: 868px;
        margin: 23px auto 23px 23px;
    }

    .gallery-right div {
        width: 268px;
        height: 271px;
        margin: 4px;
    }



    /* block_about
========================== */
    .about-text-btn {
        height: 883px;
        width: 51%;
    }

    .about__h2-title {
        margin-left: 402px;
        margin-top: 154px;
    }

    .h2-title {
        font-size: 75px;
        line-height: 85px;
    }

    .about__text {
        width: 615px;
        height: 77px;
        font-size: 25px;
        margin-left: 98px;
        margin-top: 110px;
        line-height: 35px;
    }

    .about__text:before {
        content: "";

        top: -390px;
        left: -35px;
        width: 360px;
        height: 400px;

        background-size: 100% 100%;
    }

    .about-text-btn::after {
        border: 62px solid transparent;
        border-left: 62px solid #f01401;
    }


    .about-img-scale {
        height: 883px;
        background-size: cover;
    }
    
        

    /* block_summer
========================== */
.summer-img-scale {
    width: 100%;
}

.summer-title-btn {
    height: 883px;
    background-size: cover;
}

.h2-title_title {
    margin-top: 595px;
    margin-left: 20px;
    letter-spacing: -0.8px;
    font-size: 85px;
}

.summer-title-btn::after {
    border: 62px solid transparent;
    border-right: 62px solid #fecb00;
}



.footer {
    height: 121px;
}

.footer_icon {
    width: 120px;
    height: 121px;
}

.footer__copirayte {
    margin: 56px auto 0 137px;
    width: 500px;
    font-size: 16px;
}

.footer__copirayte::before {
    top: -28px;
    left: -105px;
    width: 83px;
    height: 81px;
}
}



@media (max-width: 1400px) {

.site__main {
    max-width: 1250px;
}

    /* block_one
====================== */
.block-one {
    height: 41.5vw;
}

.icon__wrap {
    height: 7.8vw;
}

.icon_1 {
    margin-right: -.25vw;
}

.icon_2 {
    margin-right: -.1vw;
}

.icon__text  {
    font-size: 1.2vw;
    padding-top: 1.2vw;
    margin-left: -.6vw;
    line-height: 1.5vw;
}

.icon__text_2 {
    margin-left: -.4vw;
}

.icon__text_3  {
    margin-left: .1vw;
}

.block-one__h1-block {
    margin-top: 4.65vw;
    margin-left: 4.85vw;
}

.h1-block {
    font-size: 6.2vw;
    line-height: 3.65vw;
    letter-spacing: .39vw;
}

.h1-block__midle {
    font-size: 3.6vw;
    letter-spacing: .15vw;
}

.h1-block__last-C {
    font-size: 3.4vw;
}

.h1-block__last-Lays {
    font-size: 5.5vw;
    letter-spacing: .15vw;
}



    /* block_gallery
====================== */
.gallery {
    height: 45.4vw;
}

.gallery-left__vk-icon {
    margin-left: 7.37vw;
}

.gallery-left__h2-title {
    margin-left: 6.1vw;
    margin-top: .1vw;
}

.h2-title {
    font-size: 2.8vw;

    line-height: 3.8vw;
}

.gallery__gallery-right {
    margin: 1.7vw auto 1.75vw 1.76vw;
}

.gallery-right div {
    width: 32.3%;
    height: 32%;
}

.gallery__btn {
    margin: 2.45vw 0 0 5.52vw;
}



    /* block_about
====================== */
.about {
    height: 45.6vw;
}

.about__h2-title {
    margin-left: 20.75vw;
    margin-top: 10.54vw;

}

.h2-title_size {
    font-size: 3.85vw;
    line-height: 4.2vw;
}

.about__text {
    width: 32vw;
    height: 4vw;
    font-size: 1.29vw;
    margin-left: 5.7vw;
    margin-top: 5.1vw;
    line-height: 1.8vw;
    letter-spacing: -0.09px;
}

.about-img-scale {
    transform: scale(1.11);
}

.about__btn {
    margin-top: 2.35vw;
    margin-left: 5.5vw;
}



    /* block_summer
====================== */
.block_four {
    height: 45.3vw;
}

.summer__btn {
    width: 15.85vw;
    margin-top: 2.65vw;
    margin-left: 1.4vw;
    padding-left: .99vw;
}

.summer-img-scale {
    background-size: cover;
}

.h2-title_title {
    margin-top: 30.43vw;
    margin-left: 1.23vw;
}

.h2-title_title {
    letter-spacing: -.08vw;
    font-size: 4.42vw;
}



.footer {
    height: max-content;
}

.footer_icon {
    width: 6.42vw;
    height: 6.309vw;
}

.footer__copirayte {
    margin: 3vw auto 0 6.8vw;
    width: 22vw;
    font-size: .8vw;
}
}



@media (max-width: 885px) {
    
.gallery__gallery-right {
    margin: 1.5vw auto 1.5vw 1.5vw;
}

.gallery-right div {
    width: 32.2%;
    height: 32.2%;
}
}



@media (max-width: 680px) {

.site {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: none;
}

.block-help {
    display: block;

    width: 100%;
    height: 18.1vw;
}



    /* mobil-menu
========================== */
.site__nav-bar-mobil {
    display: block;
    position: fixed;

    z-index: 500;
}

.nav-bar-mobil {
    overflow: hidden;
    width: 100%;
}


.nav-bar-mobil__btn::after {
    content: "";
    position: absolute;
    display: block;

    top: 1.95vw;
    left: 6vw;
    width: 17.5vw;
    height: 17.5vw;

    background-image: url(images/Ls.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-bar-mobil__menu-line {
    width: 100%;

    padding: 9vw 0;
    text-align: center;
    color: black;
    text-decoration: none;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);

    background-color: white;
    background-repeat: no-repeat;
    background-size: 13vw;
    background-position: 9vw 4vw;

    -moz-transition: all .8s ease-out;
    -o-transition: all .8s ease-out;
    -webkit-transition: all .8s ease-out;
}

.nav-bar-mobil__btn {
    font-size: 5.1vw;
    color: red;
    font-weight: 500;
    padding: 7vw 0;
    letter-spacing: .2vw;

    transition-delay: .2s;
}

.btn__burger-line {
    position: absolute;

    top: 6vw;
    right: 7.5vw;
    width: 10.1vw;
    height: 1.4vw;

    background-color: #c43f45;

    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}

.btn__burger-line_second {
    top: 9vw;
}

.btn__burger-line_third {
    top: 12vw;
}

.btn__burger-line_first-rotate {
    top: 9vw;
    transform: rotate(45deg);
}

.btn__burger-line_second-opacity {
    opacity: 0;
}

.btn__burger-line_third-rotate {
    top: 9vw;
    transform: rotate(-45deg);
}

.nav-bar-mobil__text {
    font-size: 4vw;
    color: black;
    text-decoration: none;
}

.nav-bar-mobil__btn_hide {
    transform: translateY(-100%);
}

.nav-bar-mobil__menu-line_1 {
    opacity: 0;
    transform: translateX(80%);

    background-image: url(images/Ph.png);}

.nav-bar-mobil__menu-line_2 {
    opacity: 0;
    transform: translateX(-80%);
    background-position: 9vw 2vw;

    background-image: url(images/Se.png);}

.nav-bar-mobil__menu-line_3 {
    opacity: 0;
    transform: translateX(80%);

    background-image: url(images/Pp.png);}

.nav-bar-mobil__menu-line_4 {
    font-size: 3vw;
    color: #6e6a6a77;
    text-transform: uppercase;
    padding: 7vw 0;

    background-color: #efebeb;

    opacity: 0;
    transform: translateX(-80%);
}

.nav-bar-mobil__menu-line-swipe_0 {
    opacity: 1;
    transform: translateX(0);
}
    


    /* block-one
========================== */
.block-one_gradient {
    background: linear-gradient(79deg, #80bae2, #609dd3);
}

.block-one {
    height: 172.6vw;

    background-size: 225%;
    background-position: -106.7vw 69.6vw;
    background-repeat: no-repeat;
}

.main__block-one {
    transform: translateX(0);
    opacity: 1;
}

.icon__wrap {
    width: 20.3vw;
    height: 20vw;
    margin: 2.6vw 5vw;
}

.icon_2 {
    margin: 0 -1vw;
}

.icon_3 {
    margin: 0 0;
}

.icon__text {
    font-size: 4vw;
    line-height: 4.6vw;
    letter-spacing: -0.1px;
    margin-left: -1.1vw;
}

.icon__text_1 {
    padding-top: .1vw;
}

.icon__text_2 {
    padding-top: 0;
    letter-spacing: -0.1px;
    margin-left: 1.1vw;
}

.icon__text_3 {
    padding-top: 0vw;
    letter-spacing: .15px;
    margin-left: .5vw;
}

.icon__wrap_1 {
    background-size: 16.5vw;
}

.icon__wrap_2 {
    background-size: 16.5vw;
}

.icon__wrap_3 {
    background-size: 16.5vw;
}

.block-one__h1-block {
    margin: 9.52vw 26.35vw .6vw auto;
}

.h1-block {
    order: -1;
    font-size: 14vw;
    line-height: 7.85vw;
    letter-spacing: .75vw;
}

.h1-block__midle {
    font-size: 7.7vw;
    font-weight: 100;
    letter-spacing: .5vw;
}

.h1-block__last-C {
    font-weight: 400;
    font-size: 7.7vw;
    letter-spacing: 2.95vw;
}

.h1-block__last-Lays {
    font-weight: 900;
    font-size: 12vw;
}



    /* block-gallery
========================== */
.gallery {
    flex-direction: column;

    width: 100%;
    height: max-content;
}

.main__gallery {
    transform: translateX(0);
    opacity: 1;
}

.gallery-left {
    flex-wrap: wrap;

    width: 100%;
    height: 100.94vw;

    background-size: 102%;
    background-position: 0 -.5vw;
}

.gallery-left__vk-icon {
    width: auto;
    height: 39vw;
    margin-left: 14.1vw;
    margin-top: 6.6vw;
}

.gallery-left__h2-title {
    margin-left: 10.99vw;
    margin-top: 1.99vw;
    margin-bottom: 8.6vw;
}

.h2-title {
    font-size: 6.3vw;
    line-height: 8.8vw;
}

.h2-title span {
    width: 39vw;
    padding: 2.3vw .79vw 2.6vw 1.68vw;
    margin-left: -1.5vw;
}

.btn {
    width: 34.5vw;
    height: 9.75vw;
    padding: 2.75vw 8vw;
    font-size: 3.5vw;
    letter-spacing: .3vw;
}

.gallery__btn {
    margin: 73vw 1vw 0vw -3.7vw;
}

.gallery__gallery-right {
    margin: 0;
}

.gallery-right {
    position: relative;

    width: 91.4%;
    height: 91.7vw;
    padding: 4.46vw 4vw 4.5vw 4.35vw;
}

.gallery-right::before {
    content: '';
    position: absolute;

    left: 43.66%;
    top: -13.5%;
    border: 8vw solid transparent;
    border-bottom: 8vw solid white;

    z-index: 20;
}

.gallery-right div {
    width: 32.2%;
    height: 31.9%;
    margin: .5vw;
}



    /* block-about
========================== */
.about {
    flex-direction: column;
    height: max-content;
}

.about-text-btn {
    width: 100%;
    height: 104.8vw;
}

.about__about-text-btn {
    transform: translateX(0);
    opacity: 1;
}

.about-text-btn br {
    display: none;
}

.about__h2-title {
    margin: 12.04vw 9.97vw 0;
}

.h2-title_size {
    padding: 0;
    font-size: 9.45vw;
    line-height: 9.46vw;
    letter-spacing: -.31vw;
}

.about__text br {
    display: inline;
}

.about__text {
    width: 43vw;
    height: 21vw;
    font-size: 3.34vw;
    margin-left: 10.6vw;
    margin-top: 8.32vw;
    line-height: 5.1vw;
    letter-spacing: .22vw;
}

.about__text::before {
    content: "";
    position: absolute;

    display: block;
    top: -10.8vw;
    left: 46.6vw;
    width: 31vw;
    height: 39vw;
}

.about__btn {
    padding: 2.65vw 5vw;
    margin-top: 14.73vw;
    margin-left: 32.49vw;
    letter-spacing: .36vw;
}

.about__about-img-scale {
    width: 100%;

    transform: translateX(0);
    opacity: 1;
}

.about-img-scale {
    position: relative;
    overflow: hidden;

    width: 102.5%;
    height: 92.5vw;

    background-size: 103.1%;
    background-position: -4.1vw -6.9vw;

    -moz-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    -webkit-transition: all 0s ease-out;
}

.about-text-btn:before {
    content: '';
    position: absolute;

    left: 43.66%;
    top: 87.5%;
    border: 7vw solid transparent;
    border-bottom: 7vw solid #2570cb;

    z-index: 5;
}

.about:hover .about-img-scale {
    -webkit-transform: scale(1.11);
    -moz-transform: scale(1.11);
    -o-transform: scale(1.11);
}



    /* block-summer
========================== */
.summer {
    flex-direction: column-reverse;
    height: max-content;

    z-index: 51;
}

.summer__summer-img-scale {
    width: 100%;

    transform: translateX(0);
    opacity: 1;
}

.summer-img-scale {
    position: relative;
    width: 100%;
    height: 101.1vw;

    -moz-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    -webkit-transition: all 0s ease-out;

    background-position: 0 -1.65vw;
}



.summer-title-btn {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 101.5vw;
}

.summer__summer-title-btn {
    transform: translateX(0);
    opacity: 1;
}

    .summer-title-btn:before {
    content: '';
    position: absolute;

    left: 44.16%;
    top: 87.5%;
    border: 7vw solid transparent;
    border-bottom: 7vw solid #b2d7f1;
}

.summer__btn {
    margin-left: 33.5vw;
    margin-top: 5.25vw;
    padding: 1.5vw 8vw;
    text-transform: uppercase;
}

.h2-title_title {
    margin-top: 63.99vw;
    margin-left: 1.2vw;
    margin-bottom: 0;
    letter-spacing: -.04vw;
    font-size: 9.4vw;
}

.summer:hover .summer-img-scale {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
}



.footer {
    width: 100%;
    height: 13.2vw;
}

.footer__icon {
    width: 14%;
    height: 13.1vw;
}

.footer__copirayte {
    margin: 4.5vw 5.4vw 0 9.4vw;
    width: 29.1vw;
    font-size: 2.8vw;
    letter-spacing: -.03vw;
}

.footer__copirayte::before {
    display: none;
}

.footer__copirayte span {
    display: none;
}
}



@media (max-width: 495px) {

.h1-block {
    margin: 8.99vw 27vw .6vw auto;
}

.icon_1 { 
margin-top: .2vw;
}

.icon_3 {
    margin-top: .1vw;
}

.btn {
width: 34.5vw;
border: 1px solid;
}
}
